@import "./color";
@import "./typo";
@import "./button";

body {
  font-family: "Rubik", sans-serif;
}

.navbar-tp {
  padding-top: 30px;
  .navbar-nav {
    li {
      padding-left: 50px;
    }
    .nav-link {
      color: $navy;
    }
    .nav-link.active {
      color: $purple;
      font-weight: map-get($font-weights, medium);
    }
  }
}

.header {
  font-weight: map-get($font-weights, semibold);
  color: $navy;
  font-size: 46px;
  line-height: 60px;
  margin-top: 92px;
}

.description {
  font-weight: map-get($font-weights, regular);
  color: $newpur;
  font-size: 18px;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.sales {
  padding-top: 100px;
  .copywriting {
    padding-left: 142px;
  }
  .brand {
    margin-top: 70px;
    text-align: center;
    .brand-logos {
      width: 724px;
    }
  }
}

.pricing {
  background: $lilpur;
  padding: 70px 0 70px 0;
  margin-top: 70px;
  .header {
    margin-top: 0;
  }
  .description {
    margin-bottom: 50px;
  }
  .master-card {
    padding: 30px;
    border-radius: 22px;
    .name {
      font-size: 18px;
      font-weight: map-get($font-weights, medium);
    }
    .price {
      font-size: 36px;
      font-weight: map-get($font-weights, semibold);
      margin-top: 16px;
      margin-bottom: 16px;
    }
    .description {
      font-size: 16px;
      font-weight: map-get($font-weights, regular);
    }
    .item-benefit {
      margin-bottom: 20px;
      img {
        float: left;
        margin-right: 8px;
      }
      p {
        font-size: 16px;
        font-weight: map-get($font-weights, medium);
      }
    }
    .btn {
      width: 100%;
      margin-top: 20px;
    }
  }
  .basic-card {
    @extend .master-card;
    background-color: $white;
    .name {
      color: $navy;
    }
    .price {
      color: $navy;
    }
    .description {
      color: $newpur;
    }
    .item-benefit {
      p {
        color: $navy;
      }
    }
  }
  .most-card {
    @extend .master-card;
    background-color: $purple;
    .name {
      color: $white;
    }
    .price {
      color: $white;
    }
    .description {
      color: $supportpur;
    }
    .item-benefit {
      p {
        color: $white;
      }
    }
    .btn-primary {
      background: $aqua;
    }
  }
}

@media (max-width: 991.98px) {
  .header {
    font-size: 34px;
    line-height: 50px;
    margin-top: 46px;
  }
  .description {
    font-size: 16px;
    line-height: 28px;
  }

  .sales {
    padding-top: 50px;
    .copywriting {
      padding-left: 12px;
    }
    .btn {
      width: 48%;
    }
  }

  .pricing {
    .basic-card {
      margin-bottom: 30px;
    }
  }
}
